/* You can add global styles to this file, and also import other style files */
body *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin : 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.require::after{
    content: "*";
    color : red;
}